<!DOCTYPE html>
<html>
<head>
	<title>websites </title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/originals/12/1b/b5/121bb5a557b502001f8b5b8cbfd410e6.jpg">
  <style>
    .my-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #FB6F92;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      border-radius: 8px;
      border: none;
    }
  </style>
</head>
<body>
	<h2>websites that will keep you entertained:</h2>
	<ul>
		<li><a href="https://www.howstuffworks.com/" target="_blank">HowStuffWorks</a></li>
    <li><a href="https://theoatmeal.com/" target="_blank">The Oatmeal</a></li>
    <li><a href="https://lifehacker.com/
" target="_blank">LifeHacker</a></li>
    <li><a href="https://explore.org/livecams" target="_blank">Explore Lifecams</a></li>
    <li><a href="https://play2048.co" target="_blank">2048</a></li>
    <li><a href="https://splix.io
" target="_blank">Splix</a></li>
    <li><a href="https://www.wordleunlimited.com" target="_blank">Wordle (but its unlimited)</a></li>
    <li><a href="http://weavesilk.com/" target="_blank">WeaveSilk</a></li>
    <li><a href="https://thisissand.com/" target="_blank">Sand</a></li>
    <li><a href="https://codepen.io/akm2/full/AGgarW" target="_blank">Gravity Points</a></li>
    <li><a href="https://hackertyper.com/" target="_blank">HackerTyper</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">CookieClicker</a></li>
	</ul>
<a href="/goodbye" class="my-button">goodbye <3</a>
</body>
</html>
