<!DOCTYPE html>
<html>
<head>
    <title>goodbye</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/originals/12/1b/b5/121bb5a557b502001f8b5b8cbfd410e6.jpg">
  <style>
    .my-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #FB6F92;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      border-radius: 8px;
      border: none;
    }
  </style>
</head>
<body>
    <h1>Goodbye!</h1>
    <h2>Lots of love to you!</h2>
    <img src="https://i.pinimg.com/736x/7b/a6/80/7ba680a2d23ddee6f9860d4842f22c2b.jpg" alt="A cute rat">
<br>
<br>
  <a href="/index.html" class="my-button">go back home</a>

</body>
</html>